
@{
}

<div class="tech-btm">
    <form  action="/NewsLetter/SubscribeMail/ " method="post">
        <input type="email" placeholder="Email" required="" name="Mail">
        <input id="aboneol" type="submit" value="Abone Ol">
    </form>

</div>


<script>$('#aboneol').click(function () {
        swal("Başarılı", "Evet", "success");
    })</script>